
.analog-clock {
	position: relative;
}

.analog-clock-container {
	background: #ccc;
	border-radius:100%;
	border: 2px solid red;
	height: 100%;
	width: 100%;
}

.analog-clock-pointer-out {
	height: 100%;
	width: 100%;
	position: absolute;
	transform: rotate(0deg);
}

.analog-clock-pointer {
	height: 50%;
	width: 4%;
	margin-left: 48%;
	/*background: black;*/
	display: inline-block;
}

.analog-clock-hour-pointer, .analog-clock-min-pointer, .analog-clock-sec-pointer {
	position: relative;
	display: block;
}

.analog-clock-hour-pointer {
	width: 100%;
	height: 75%;
	background: black;
	top: 25%;
	border-radius: 100% 100% 0% 0%;
}

.analog-clock-min-pointer {
	width: 50%;
	height: 82%;
	top: 18%;
	background: black;
	margin-left: 25%;
	border-radius: 100% 100% 0% 0%;
}

.analog-clock-sec-pointer {
	width: 25%;
	height: 82%;
	top: 18%;
	background: red;
	margin-left: 37.5%;
	border-radius: 100% 100% 0% 0%;
}

.clock-label-out {
  	height: 100%;
  	width: 100%;
  	text-align: center;
  	position: absolute;
}

.clock-label {
  	display: inline-block;
  	height: 10%;
  	width: 10%;
  	border-radius: 100%;
  	border: solid 1px black;
  	margin: 2%;
  	position: relative;
}

.clock-center-bg {
  	position: absolute;
	width: 8%;
	height: 8%;
	background: black;
	border-radius: 100%;
	top: 46%;
	left: 46%;
	z-index: 9;
}

.toggle-clock-btn {
	z-index: 10;
	bottom: 0px;
	right: 0px;
	position: absolute;
}